@charset "UTF-8";
header {
  font-family: "Roboto Slab", sans-serif;
  background-color: #ece2c6;
  border-bottom: 2px solid #000000;
}
header .navbar-brand {
  display: flex;
  align-items: flex-end;
}
header .navbar-brand .logo {
  width: 150px;
}
header .firstTitle {
  color: white;
}
header .secondTitle {
  color: #228B22;
}

.about-conteiner {
  background-color: #ece2c6;
  text-align: center;
  border-radius: 15px;
  padding: 15px;
}

.iframe-container {
  display: flex;
  justify-content: center;
}

.carousel-container {
  display: flex;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
}
.carousel-container .carousel-inner {
  display: flex;
  max-height: 300px;
  overflow: hidden;
}
.carousel-container .carousel-inner .carousel-item {
  flex: 0 0 auto;
  width: 100%;
}
.carousel-container .carousel-inner .carousel-item img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

span {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2rem;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto Slab", sans-serif;
  color: black;
  background-image: url(/images/skateparkbackground.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.linkNav {
  color: #228B22;
  text-decoration: none;
  padding: 5px 20px;
  font-size: 1.3rem;
}
.linkNav:hover {
  background-color: #228B22;
  color: white;
  border-radius: 15px;
}

.main {
  font-family: "Roboto Slab", sans-serif;
  background-image: url(/images/background2.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 550px;
  padding: 70px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 30px;
}

.contenedorMain {
  width: 50%;
  background-color: #ece2c6;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0px 7px 0px #7d8471;
}
.contenedorMain h2 {
  font-size: 2rem;
  font-weight: bold;
}
.contenedorMain p {
  font-size: 1.5rem;
}
.contenedorMain .firstTitle {
  color: white;
}
.contenedorMain .secondTitle {
  color: rgba(34, 139, 34, 0.81);
}

.fall {
  animation: fallAnimation 2s ease-in-out;
}

/* Define la animación llamada fallAnimation */
@keyframes fallAnimation {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
/* Mantén la posición fija después de la animación */
.fall.stuck {
  position: sticky;
  top: 0;
}

.divisionPagina {
  font-family: "Roboto Slab", sans-serif;
  background: #ece2c6;
  color: black;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  padding: 20px 0px;
  border-radius: 30px;
  box-shadow: 0px 0px 35px rgb(125, 132, 113);
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
  border-radius: 30px;
  background-color: #ece2c6;
  box-shadow: 5px 5px 5px 5px #7d8471;
}
.box h3 {
  border-bottom: 2px solid #7d8471;
  font-size: 2rem;
}
.box p {
  font-family: "Roboto Slab", sans-serif;
  font-size: 1.2rem;
}

svg {
  width: 40px;
  color: #000000;
}

.linkFooter {
  text-decoration: none;
  color: black;
  padding: 10px;
  font-weight: bold;
}

.linkFooter:hover {
  background-color: #000000;
  border-radius: 15px;
  color: white;
}

.tituloServicios h2 {
  text-align: center;
  padding: 20px;
  font-size: 3rem;
  border-bottom: #228B22 3px solid;
}

.cardPrincipales {
  border: none;
  box-shadow: 0px 5px 15px black;
  height: 500px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.colorBtn {
  background-color: #228B22;
  color: #ece2c6;
}

.cardSecundarias {
  border: none;
  box-shadow: 0px 5px 15px black;
  height: 350px;
}

.lacosteLogo {
  opacity: 0;
  transform: translateX(100%);
  animation: slideIn 2s ease forwards;
}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
main container mb-5 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 100px);
  margin-top: 20px;
}

.form {
  background-color: rgba(236, 226, 198, 0.77);
  box-shadow: 0px 2px px rgb(112, 111, 111);
  border-radius: 20px;
  padding: 20px;
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
}
.form .button {
  background-color: rgba(34, 139, 34, 0.81);
  color: #ece2c6;
  border: none;
  width: 100%;
  max-width: 150px;
  height: 40px;
  border-radius: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.form label {
  font-weight: 500;
  font-size: 1.5rem;
}
.form input {
  box-shadow: 5px 10px 5px #474747;
}
.form textarea {
  box-shadow: 10px 10px 5px #424242;
}
.form .form-control {
  margin: 20px 0;
}
.form .formularioTitulo {
  border-bottom: #228B22 3px solid;
}

@media (max-width: 501px) {
  body {
    background-image: url(/images/skateparkbackground.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .navbar-brand {
    align-items: flex-end;
  }
  .logo {
    max-width: 30%;
  }
  .firstTitle {
    font-size: 1.2rem;
  }
  .secondTitle {
    font-size: 1.2rem;
  }
  h1 {
    font-size: 1.2rem;
    padding-left: 5px;
  }
  .main {
    background-image: none;
    padding: 10px;
  }
  .main .contenedorMain {
    width: auto;
    height: auto;
  }
  .main .contenedorMain h2 {
    font-size: 1.5rem;
  }
  .main .contenedorMain p {
    font-size: 1rem;
  }
  .main .divisionPagina {
    font-size: 1.2rem;
    padding: 15px 0px;
    border-radius: 15px;
  }
  .main .box {
    background-color: #ece2c6;
  }
  .main .box h3 {
    font-size: 1.5rem;
  }
  .main footer {
    background-color: #ece2c6;
  }
  .main .tituloServicios h2 {
    font-size: 2rem;
  }
  .main .tituloServicios .card {
    height: 550px;
    margin-top: 20px;
  }
  .main .tituloServicios .formularioTitulo h2 {
    font-size: 1.3rem;
  }
  .main .tituloServicios label {
    font-size: 1.3rem;
  }
  .main .tituloServicios .divisor {
    margin: 10px 0;
  }
  .main .tituloServicios .divisor h3 {
    font-size: 1.4rem;
  }
  .main .tituloServicios .quienesSomosTitulo {
    font-size: 1.5rem;
  }
  .main .tituloServicios .lead {
    font-size: 1rem;
  }
  .main .tituloServicios .carousel-item {
    height: auto;
  }
  .main .tituloServicios .carousel-caption h3 {
    font-size: 1rem;
  }
  .main .tituloServicios .carousel-caption p {
    font-size: 0.6rem;
  }
}
@media (min-width: 501px) and (max-width: 1400px) {
  h1 {
    font-size: 1.9rem;
  }
  .contenedorMain {
    width: auto;
    height: auto;
  }
  .contenedorMain h2 {
    font-size: 2rem;
  }
  .contenedorMain p {
    font-size: 1.2rem;
  }
  .tituloServicios h2 {
    font-size: 2.5rem;
  }
  .tituloServicios .card {
    height: 540px;
    margin-top: 20px;
  }
  .tituloServicios .quienesSomosTitulo {
    font-size: 2.5rem;
  }
  .tituloServicios .divisor {
    margin: 10px 0;
  }
  .tituloServicios .divisor h3 {
    font-size: 2rem;
  }
  .tituloServicios .carousel-item {
    height: 320px;
  }
  .tituloServicios .carousel-caption h3 {
    font-size: 2rem;
  }
  .tituloServicios .carousel-caption p {
    font-size: 1rem;
  }
}

/*# sourceMappingURL=estilos.css.map */
